<% if is_streaming %>

<p>pup is currently streaming.</p>

<iframe src="https://player.twitch.tv/?channel=duckinatorr&autoplay=true" frameborder="0" scrolling="no" height="378" width="620"></iframe>
  
<p><a href="https://www.twitch.tv/duckinatorr?tt_medium=live_embed&tt_content=text_link">Watch live video from duckinatorr on www.twitch.tv</a>.</p>

<p>Stream not working? Try watching it on <a href="https://www.hitbox.tv/duckinator">Hitbox</a> or <a href="https://gaming.youtube.com/channel/UC83xJZP0m2VT1eZq5nhiBTA">YouTube Gaming</a>.</p>

<% else %>

<p>pup is not currently streaming. Be sure to <a href="https://twitter.com/duckinator">follow them on Twitter</a> to get updates about when they're going to stream!</p>

<p>You can also follow them on <a href="https://www.twitch.tv/duckinatorr">Twitch</a>, <a href="https://www.hitbox.tv/duckinator">Hitbox</a>, or <a href="https://gaming.youtube.com/channel/UC83xJZP0m2VT1eZq5nhiBTA">YouTube Gaming</a>.</p>

<% end %>
